<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>coderzyj's IM-登录</title>
    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<section class="material-half-bg">
    <div class="cover"></div>
</section>
<section class="login-content">
    <div class="logo">
        <h1>Zhang&Zhao</h1>
    </div>
    <div id="login-box" class="login-box">
        <div class="login-form">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>登录</h3>
            <div class="form-group">
                <p v-bind="username"></p>
                <label class="control-label">用户名</label>
                <input class="form-control" v-model="username" type="text" placeholder="请输入你的用户名" autofocus>
            </div>
            <div class="form-group">
                <label class="control-label">密码</label>
                <input class="form-control" v-model="password" type="password" placeholder="请输入你的密码">
            </div>
            <div class="form-group">
                <div class="utility">
                    <div class="animated-checkbox">
                        <label>
                            <input type="checkbox"><span class="label-text">记住密码</span>
                        </label>
                    </div>
                    <p class="semibold-text mb-2"><a href="#" data-toggle="flip">忘记密码 ?</a></p>
                </div>
            </div>

            <div class="form-group btn-container">

                <button @click="login" class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw" ></i>登录</button>
            </div>
        </div>
        <form class="forget-form" action="index.html">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>忘记密码 ?</h3>
            <div class="form-group">
                <label class="control-label">EMAIL</label>
                <input class="form-control" type="text" placeholder="Email">
            </div>
            <div class="form-group btn-container">
                <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>RESET</button>
            </div>
            <div class="form-group mt-3">
                <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
            </div>
        </form>
    </div>
</section>

<script type="text/javascript">
    let vm = new Vue({
        el:'#login-box',
        data:{
            username:'',
            password:''
        },
        methods:{
            login () {
                axios.post('user/login',{
                    username:this.username,
                    password:this.password
                }).then(res => {
                    if(res.data.code == 200){
                        localStorage.setItem("token",res.data.data.token);
                        localStorage.setItem("info",res.data.data.info);
                        window.location.href = "index.html"
                    }else{
                        alert(res.data.message)
                    }
                }).catch(error => {
                    console.log(error)
                })
            }
        }

    })
    // Login Page Flipbox control
    $('.login-content [data-toggle="flip"]').click(function() {
        $('.login-box').toggleClass('flipped');
        return false;
    });


</script>
</body>
</html>